@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.countdown {
    font-size: 3.5em;
    color: red !important;
    text-align: center;
    font-family: "Creepster", system-ui;
}

.large {
    font-size: 2.5em;
}

.frame {
    padding: 0.5em;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right {
    text-align: right;
}